
@model Model.User
<section class="vh-100" style="background-color: #FFFFFF;">
    <div class="container py-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-10">
                <div class="card" style="border-radius: 1rem; background-color: #9A616D">
                    <div class="row g-0">
                        <div class="col-md-8 col-lg-5 d-none d-md-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-6 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form method="post">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h2 fw-bold mb-0">Project Management</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                                    <div class="form-outline mb-4">
                                        <label asp-for="Username" class="control-label"></label>
                                        <input asp-for="Username" class="form-control" />
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label asp-for="Password" class="control-label"></label>
                                        <input asp-for="Password" class="form-control">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div class="pl-5 pt-1 mb-4 col-md-6 col-lg-10 d-flex align-content-center align-items-sm-end">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button> &nbsp;
                                        <a type='button' class="btn btn-dark btn-lg btn-block" asp-action="Register" asp-controller="Employee">Register</a>
                                    </div>
                                    <div class="pl-5 col-md-6 col-lg-10 d-flex align-content-center align-items-sm-end">
                                                                                                            
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password");

    togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);

        // toggle the icon
        this.classList.toggle("bi-eye");
    });

    // prevent form submit
    const form = document.querySelector("form");
    form.addEventListener('submit', function (e) {
        e.preventDefault();
    });
</script>

